body {
    height: 713px;
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 18%, rgba(9, 9, 121, 1) 36%, rgb(0, 71, 202) 58%, rgba(5, 71, 226, 0.78) 72%, rgba(71, 125, 251, 0.78) 85%);
    display: grid;
    justify-content: center;
    align-items: center;
}

.main {
    height: 300px;
    width: 300px;
        background: #a3b4ff;
        background: linear-gradient(180deg, rgba(163, 180, 255, 1) 0%, rgb(59, 88, 216) 40%, rgb(20, 60, 153) 61%, rgb(13, 44, 117) 80%);
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

h2 {
    text-align: center;
}

#select {
    width: 170px;
}

button {
    background-color: rgb(157, 177, 254);
    position: relative;
    left: 90px;
    margin: 10px;
    padding: 5px 20px;
}

button:hover {
    color: white;
    background-color: rgb(14, 108, 216);
}